{% extends 'base.html' %}

{% block extracss %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
{% endblock %}

{% block content %}
<h2 class="mb-3">Attendence</h2>
<div id="cal-heatmap"></div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>

<script type="text/javascript">
	var cal = new CalHeatMap();
	cal.init({
		start: new Date(2018, 0, 1, 1),
		domain: "month",
		subDomain: "x_day",
		cellSize: 20,
		range: 4,
		displayLegend: false,
		subDomainTextFormat: "%d"
	});
</script>
{% endblock %}