{% extends 'base.html' %}

{% load static %}
{% block extracss %}
<link href='{% static 'fullcalendar/fullcalendar.min.css' %}' rel='stylesheet' />
<link href='{% static 'fullcalendar/fullcalendar.print.min.css' %}' rel='stylesheet' media='print' />
<style type="text/css">
  .fc-sat { color:red;  }
  .fc-sun { color:red;  }
</style>
{% endblock %}

{% block content %}
<h2 class="mb-3">Events</h2>
<div id='calendar'></div>
{% endblock %}

{% block extrajs %}
<script src='{% static 'fullcalendar/moment.min.js' %}'></script>
<script src='{% static 'fullcalendar/fullcalendar.min.js' %}'></script>
<script>

$(document).ready(function() {

  var calendar = $('#calendar').fullCalendar({
    eventClick: function (calEvent, jsEvent, view) {
      alert('Event: ' + calEvent.title);
      // change the border color just for fun
      //$(this).css('border-color', 'red');
    },
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,basicWeek,basicDay'
    },
    // defaultDate: '2018-07-12',
    defaultDate: new Date(),
    navLinks: true, // can click day/week names to navigate views
    editable: false,
    eventLimit: true, // allow "more" link when too many events
    events: "{% url 'students:events' %}?json=true"
  });
});

</script>
{% endblock %}