{% extends 'base.html' %}

{% load static %}
{% block extracss %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<link href='{% static 'fullcalendar/fullcalendar.min.css' %}' rel='stylesheet' />
<link href='{% static 'fullcalendar/fullcalendar.print.min.css' %}' rel='stylesheet' media='print' />
<style type="text/css">
  .fc-sat { color:red;  }
  .fc-sun { color:red;  }

  .q2 { fill: red }
</style>
{% endblock %}

{% block content %}
<!-- <h2>Time Table</h2> -->
<!-- <p>TimeTable</p> -->
<div id='calendar'></div>
<hr>
<p>Attendance</p>
<button class="btn btn-sm" id="attendanceHeatmap-previous">&lt;</button>
<button class="btn btn-sm" id="attendanceHeatmap-next">&gt;</button>
<div id="attendanceHeatmap"></div>

{% endblock %}

{% block extrajs %}
<script src="{% static 'fullcalendar/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>

<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {

  function loadHeatMap() {
    var cal = new CalHeatMap();
    cal.init({
      itemSelector: "#attendanceHeatmap",
      maxDate: new Date({{year}},{{month}}),
      start: new Date({{year}}, {{month}}, 1),
      domain: "month",
      subDomain: "x_day",
      cellSize: 20,
      range: 1,
      displayLegend: false,
      subDomainTextFormat: "%d",
      nextSelector: "#attendanceHeatmap-next",
      previousSelector: "#attendanceHeatmap-previous",
      legend: [2, 4], // https://github.com/wa0x6e/cal-heatmap/issues/142#issuecomment-89276421
      // subDomainTitleFormat: {format: function(params){''}}
      data: "{% url 'students:attendance' %}?start={% verbatim %}{{t:start}}&end={{t:end}}{% endverbatim %}"
    });
  }


  function loadCalendar() {   
    var calendar = $('#calendar').fullCalendar({
      header: { left: '', center: '', right: '' },
      eventSources: ["{% url 'students:timetable' %}"],
      height: 300, // Fix height
      columnFormat: 'dddd', // Display just full length of weekday, without dates 
      defaultView: 'agendaWeek', // display week view
      hiddenDays: [0,6], // hide Saturday and Sunday
      weekNumbers:  false, // don't show week numbers
      minTime: '08:00:00', // display from 16 to
      maxTime: '17:00:00', // 23 
      slotDuration: '00:30:00', // 15 minutes for each row
      allDaySlot: false, // don't show "all day" at the top
      timezone:'local', // https://stackoverflow.com/a/35863657/2351696
      selectable: true,
      events: []
    });

    $('#calendar').fullCalendar( 'gotoDate', '2019-01-01');
  }

  loadCalendar();
  loadHeatMap();
});

</script>
{% endblock %}