{% extends 'base.html' %}

{% load static %}
{% block extracss %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<link href='{% static 'fullcalendar/fullcalendar.min.css' %}' rel='stylesheet' />
<link href='{% static 'fullcalendar/fullcalendar.print.min.css' %}' rel='stylesheet' media='print' />
<style type="text/css">
  .fc-sat { color:red;  }
  .fc-sun { color:red;  }
</style>
{% endblock %}

{% block content %}
<!-- <h2>Time Table</h2> -->
<!-- <p>TimeTable</p> -->
<div id='calendar'></div>
<hr>
<p>Attendance</p>
<div id="cal-heatmap"></div>
{% endblock %}

{% block extrajs %}
<script src='{% static 'fullcalendar/moment.min.js' %}'></script>
<script src='{% static 'fullcalendar/fullcalendar.min.js' %}'></script>

<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {

  function loadHeatMap() {
    var cal = new CalHeatMap();
    cal.init({
      start: new Date(new Date().getFullYear(), 0, 1),
      domain: "month",
      subDomain: "x_day",
      cellSize: 20,
      range: 4,
      displayLegend: false,
      subDomainTextFormat: "%d",
      nextSelector: "#domainDynamicDimension-next",
      previousSelector: "#domainDynamicDimension-previous",
      data: {{ data | safe }} //{"1550188800":2} // 
    });
  }
  function loadCalendar() {   
    var calendar = $('#calendar').fullCalendar({
      header: { left: '', center: '', right: '' },
      eventSources: ["{% url 'students:timetable' %}"],
      height: 300, // Fix height
      columnFormat: 'dddd', // Display just full length of weekday, without dates 
      defaultView: 'agendaWeek', // display week view
      hiddenDays: [0,6], // hide Saturday and Sunday
      weekNumbers:  false, // don't show week numbers
      minTime: '08:00:00', // display from 16 to
      maxTime: '17:00:00', // 23 
      slotDuration: '00:30:00', // 15 minutes for each row
      allDaySlot: false, // don't show "all day" at the top
      timezone:'local', // https://stackoverflow.com/a/35863657/2351696
      selectable: true,
      events: []
    });

    $('#calendar').fullCalendar( 'gotoDate', '2019-01-01');
  }

  loadCalendar();
  loadHeatMap();
});

</script>
{% endblock %}