{% url 'dashboard:home' as dashboard %}

{% url 'quizzes:quiz_list' as quiz_list %}
{% url 'students:events' as events %}
{% url 'profile' as profile %}
<ul class="nav nav-tabs card-header-tabs">
<li class="nav-item">
  <a class="nav-link{% if request.path == dashboard %} active{% endif %}" href="{{ dashboard }}">Dashboard </a>
</li>
<li class="nav-item">
  <a class="nav-link{% if quiz_list in request.path %} active{% endif %}" href="{{ quiz_list }}">Quizzes</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == events %} active{% endif %}" href="{{ events }}">Events</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == profile %} active{% endif %}" href="{{ profile }}">Settings</a>
</li>
</ul>