{% url 'classroom:attendance' as classroom %}
{% url 'students:user_list' as student_list %}
{% url 'students:user_list' 2 as teacher_list %}
{% url 'quizzes:quiz_change_list' as quiz_change_list %}
{% url 'teachers:events' as events %}
{% url 'profile' as profile %}

<ul class="nav nav-tabs card-header-tabs">
<li class="nav-item">
  <a class="nav-link{% if classroom in request.path  %} active{% endif %}" href="{{ classroom }}">Classroom</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == student_list %} active{% endif %}" href="{{ student_list }}">Students</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == teacher_list %} active{% endif %}" href="{{ teacher_list }}">Teachers</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if quiz_change_list in request.path %} active{% endif %}" href="{{ quiz_change_list }}">Quizzes</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == events %} active{% endif %}" href="{{ events }}">Events</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == profile %} active{% endif %}" href="{{ profile }}">Settings</a>
</li>
 </ul>