{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extracss %}
<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign up as a {{ usertype }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
      <br>
      {% if usertype == 'student' %}
        or <a href="{% url 'teacher_signup' %}">sign up as a teacher</a>
      {% elif usertype == 'teacher' %}
        or <a href="{% url 'student_signup' %}">sign up as a student</a>      
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}


<script src="{% static 'select2/select2.min.js' %}"></script>
<script type="text/javascript">
  $("#id_school").select2({
    ajax: {
      url: "{% url 'schools:search' %}",
      dataType: 'json',
      delay: 250,      
      cache: true
    },
    placeholder: 'Search school by name',    
    minimumInputLength: 1,
    templateResult: formatRepo,
    templateSelection: formatRepoSelection
  });
  function formatRepoSelection (repo) {
    return repo.name;
  }
  function formatRepo (repo) {
    return repo.name
  }

{% if usertype == 'student' %}

  $('#id_interests').select2({ placeholder: 'Select interested Subjects'});
  // $('#id_classroom').select2({ placeholder: 'Select your Class' });
  $("#id_school").change(function () {
    get_classrooms($(this).val());
  });

  // if page refresh set courses value  
  // get_courses($("#id_school").val());

  function get_classrooms(school_id) {
    $("#id_classroom").empty();
    // $("#id_classroom").trigger("change"); // .trigger("chosen:updated");

    // if (school_id != 0) { 
    if (school_id) {
      $("#id_classroom").attr('disabled',true);
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'ajax_load_courses' %}",
        data: { 'school': school_id },
        success: function (data) {   
          $("#id_classroom").removeAttr("disabled");
          $("#id_classroom").html(data);  // replace the contents of the city input with the data that came from the server
          // $("#id_classroom").trigger("change"); // .trigger("chosen:updated");
        }
      });
    }
  }
{% endif %}
</script>


{% endblock %}
