{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign up as a {{ usertype }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
{% if usertype == 'student' %}

<!--
  <script>
    $("#id_school").change(function () {
      //var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var schoolId = $(this).val();  // get the selected school ID from the HTML input
      if (schoolId == 0) { //Not selected
        $("#id_course").html("<option value=\"\">---------</option>");
      } else {
        $("#id_course").prop('disabled',true);
        
        $.ajax({                       // initialize an AJAX request
          url: "{% url 'ajax_load_courses' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'school': schoolId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            //remove it
            $("#id_course").removeAttr("disabled");
            $("#id_course").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
      }
    });
  </script>
  -->
{% endif %}
{% endblock %}
