{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href='https://harvesthq.github.io/chosen/chosen.css'>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign up as a {{ usertype }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
      <br>
      {% if usertype == 'student' %}
        or <a href="{% url 'teacher_signup' %}">sign up as a teacher</a>
      {% elif usertype == 'teacher' %}
        or <a href="{% url 'student_signup' %}">sign up as a student</a>      
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}
{% if usertype == 'student' %}
<script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
<script type="text/javascript">
  $("select").chosen({disable_search_threshold: 10});

  $("#id_school").change(function () {
    get_courses($(this).val());
  });

  // if page refresh set courses value  
  get_courses($("#id_school").val());

  function get_courses(school_id) {

    if (school_id == 0) { //Not selected
      $("#id_course").empty();
      $("#id_course").trigger("chosen:updated");
    } else {
      //$("#id_course").prop('disabled',true); 
      $("#id_course").empty();
      $("#id_course").trigger("chosen:updated");
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'ajax_load_courses' %}",
        data: { 'school': school_id },
        success: function (data) {   
          //$("#id_course").removeAttr("disabled");
          $("#id_course").html(data);  // replace the contents of the city input with the data that came from the server
          $("#id_course").trigger("chosen:updated");
        }
      });
    }
  }
</script>

{% endif %}
{% endblock %}
