{% url 'home' as home %}
{% url 'teachers:user_list' 1 as student_list %}
{% url 'teachers:user_list' 2 as teacher_list %}

{% url 'teachers:quiz_change_list' as quiz_change_list %}
{% url 'teachers:events' as events %}
{% url 'profile' as profile %}
{% url 'teachers:attendance' as attendance %}

<ul class="nav nav-tabs card-header-tabs">
<li class="nav-item">
  <a class="nav-link{% if request.path == home %} active{% endif %}" href="{{ home }}">Dashboard </a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == student_list %} active{% endif %}" href="{{ student_list }}">Students</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == teacher_list %} active{% endif %}" href="{{ teacher_list }}">Teachers</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == attendance %} active{% endif %}" href="{{ attendance }}">Attendance</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == quiz_change_list %} active{% endif %}" href="{{ quiz_change_list }}">Quizzes</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == events %} active{% endif %}" href="{{ events }}">Events</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if request.path == profile %} active{% endif %}" href="{{ profile }}">Profile</a>
</li>
 </ul>