{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extracss %}
<link href="{% static 'airdatepicker/datepicker.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/materialcheckbox.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% include 'classroom/_header.html' with active='attendance' %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'classroom:attendance' %}">Enter Attendance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'classroom:attendancereport' %}">Attendance Report</a>
  </li>
</ul>
<br>
<form class="form-inline">
  <div class="form-group mb-2">
    <label class="sr-only">Classroom</label>
    <select class="form-control form-control-sm" name="classroom" required>
        <option value="">Select Class</option>
        {% for classroom in classrooms %}
        	<option value="{{ classroom.pk }}"{% if classroom.pk == att_classroom %} selected{% endif %}>{{ classroom.classname }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label class="sr-only">Date</label>
    <input name="date" type='text' id="attendancedate" placeholder="Date" class='form-control form-control-sm' data-language='en' autocomplete="off" value="{{att_date}}" required/>
  </div>
  <button type="submit" class="btn btn-sm btn-primary mb-2">Enter Attendance</button>
</form>
<hr>
{% if attendances %}

{% for attendance in attendances %}
  <p>{{attendance.student.user.get_full_name}} - {% if attendance.status == 'P' %}&#10003;{%else%}x{% endif %}</p>
{% endfor %}
{% elif students %}
<form action="{% url 'classroom:attendance' %}" method="post"> {% csrf_token %}
<div class="table-responsive">
  <input type="hidden" name="classroom" value="{{att_classroom}}">
  <input type="hidden" name="date" value="{{att_date}}">

  <div class="card mb-3">
    <div class="card-header"><b>Enter Attendance</b></div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>Student name</th>
                <th></th>
            </tr>
          </thead>
            <tbody>
            {% for s in students %}
              <tr>
              <td>{{s.user.get_full_name|default:s.user.username}}</td>
              <td>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-sm btn-outline-success active">
                      <input type="radio" name="{{ s.user.id }}" autocomplete="off" value="present" checked> Present
                  </label>
                  <label class="btn btn-sm btn-outline-danger">
                      <input type="radio" name="{{ s.user.id }}" autocomplete="off" value="absent"> Absent
                  </label>
                </div>
              </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
      <input class="btn btn-success btn-sm" type="submit" value="Save Attendance">
    </div>
  </div>
  {% comment %}
  <ul style="list-style: none">
  {% for s in students %}
    <li>
      <label class="pure-material-checkbox">
        <input type="checkbox" name="{{ s.user.id }}" checked>
        <span>{{s.user.get_full_name|default:s.user.username}}</span>
      </label>
    </li>
  {% endfor %}
    <li> <input class="btn btn-success btn-sm" type="submit" value="Save"></li>
  </ul>
  {% endcomment %}
</div>

</form>
{% endif %}

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'airdatepicker/datepicker.min.js' %}"></script>
<script src="{% static 'airdatepicker/datepicker.en.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#attendancedate').datepicker({
      dateFormat: "dd/mm/yyyy",
      autoClose: true,
      onRenderCell: function (date, cellType) {
        if (cellType == 'day') {
            var day = date.getDay(),
            isDisabled = [0, 6].indexOf(day) != -1;
            return {
                disabled: isDisabled
            }
        }
      }
  	});
    // dp.selectDate(new Date());
  });

</script>
{% endblock %}