{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extracss %}
<link href="{% static 'airdatepicker/datepicker.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/materialcheckbox.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% include 'classroom/_header.html' with active='attendance' %}
<form class="form-inline">
  <div class="form-group mb-2">
    <label class="sr-only">Classroom</label>
    <select class="form-control form-control-sm" name="classroom">
        <option value="">Select Class</option>
        {% for classroom in classrooms %}
        	<option value="{{ classroom.pk }}"{% if classroom.pk == att_classroom %} selected{% endif %}>{{ classroom.name }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label class="sr-only">Date</label>
    <input name="date" type='text' id="attendancedate" placeholder="Date" class='form-control form-control-sm' data-language='en' autocomplete="off" value="{{att_date}}" />
  </div>
  <button type="submit" class="btn btn-sm btn-primary mb-2">Enter Attendance</button>
</form>
<hr>
{% if students %}
<form action="{% url 'classroom:attendance' %}" method="post"> {% csrf_token %}
<div class="table-responsive">
  <input type="hidden" name="classroom" value="{{att_classroom}}">
  <input type="hidden" name="date" value="{{att_date}}">
  <ul style="list-style: none">
  {% for s in students %}
    <li>
      <label class="pure-material-checkbox">
        <input type="checkbox" name="{{ s.user.id }}" checked>
        <span>{{s.user.get_full_name|default:s.user.username}}</span>
      </label>
    </li>
  {% endfor %}
    <li> <input class="btn btn-success btn-sm" type="submit" value="Save"></li>
  </ul>
</div>

</form>
{% endif %}

{% endblock %}

{% block extrajs %}
<script src="{% static 'airdatepicker/datepicker.min.js' %}"></script>
<script src="{% static 'airdatepicker/datepicker.en.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#attendancedate').datepicker({
	        dateFormat: "dd/mm/yyyy",
	        autoClose: true,
	        onRenderCell: function (date, cellType) {
		        if (cellType == 'day') {
		            var day = date.getDay(),
		                isDisabled = [0, 6].indexOf(day) != -1;
		            return {
		                disabled: isDisabled
		            }
		        }
		    }
    	});
    });
</script>
{% endblock %}