{% extends 'base.html' %}

{% load static %}
{% block extracss %}
<link href='{% static 'fullcalendar/fullcalendar.min.css' %}' rel='stylesheet' />
<link href='{% static 'fullcalendar/fullcalendar.print.min.css' %}' rel='stylesheet' media='print' />
<style type="text/css">
  .fc-sat { color:red;  }
  .fc-sun { color:red;  }
</style>
{% endblock %}

{% block content %}
{% include 'classroom/_header.html' with active='timetable' %}
<div class="form-group">
  <label>Classroom:</label>
  <select class="form-control" id="classroomSelect">
    <option value="">--select--</option>
    {% for classroom in classrooms %}
    <option>{{classroom.name}}</option>
    {% endfor %}
  </select>
</div>

<div id='calendar'></div>

<!-- Modal -->
<div class="modal fade" id="addPeriodModel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Period:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="frm_addperiod">{% csrf_token %}
        <div class="modal-body">
          <div class="errormsg"></div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Classroom:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control classRoom" name="classroom" readonly="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Subject:</label>
            <div class="col-sm-8">
              <select class="form-control" name="subject" id="subjectSelect">
                <option value="">--select--</option>
                {% for subject in subjects %}
                <option value="{{subject.id}}">{{subject.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Teacher:</label>
            <div class="col-sm-8">
              <select class="form-control" name="teacher" id="teacherSelect">
                <option value="">--select--</option>
                {% for teacher in teachers %}
                <option value="{{teacher.id}}">{{teacher.username}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Day of the week:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="dayoftheweek" id="weekDay" readonly="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Start Time:</label>
            <div class="col-sm-8">
              <input type="time" class="form-control" name="starttime" id="startTime" readonly="">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">End Time:</label>
            <div class="col-sm-8">
              <input type="time" class="form-control" name="endtime" id="endTime">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="btn_add_period">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src='{% static 'fullcalendar/moment.min.js' %}'></script>
<script src='{% static 'fullcalendar/fullcalendar.min.js' %}'></script>
<script>

$(document).ready(function() {
  function fetchCalendar(classroom) {
    $('#calendar').fullCalendar('removeEvents');
    $('#calendar').fullCalendar('addEventSource', "{% url 'classroom:timetable' %}?classroom="+classroom);
  }
  $('#classroomSelect').on('change', function() {    
    $('input.classRoom').val(this.value);
    fetchCalendar(this.value);
  });

  $("#btn_add_period").click(function(e) {
    e.preventDefault();     
    let addperiod=$('#addPeriodModel');    
    let datas=$('#frm_addperiod').serializeArray();
    // $('#frm_addperiod :input').attr('disabled', true);    
    $.ajax({
      type: "POST",
      url: "{% url 'classroom:timetable' %}",
      data: datas
    }).done(function(resp){
      // $('#frm_addevent :input').each(function(){this.disabled = false;});
      if (resp == 'success'){ 
        fetchCalendar($('#classroomSelect').val());
        addperiod.modal('hide');
        // $('#frm_addevent').trigger("reset");
      }else{
        addperiod.find('.errormsg').html('<div class="alert alert-danger">'+resp+'</div>');
      }
      
    });
  });

  function loadCalendar() {   
    var calendar = $('#calendar').fullCalendar({
      header: { left: '', center: '', right: '' },
      height: 680, // Fix height
      columnFormat: 'dddd', // Display just full length of weekday, without dates 
      defaultView: 'agendaWeek', // display week view
      hiddenDays: [0,6], // hide Saturday and Sunday
      weekNumbers:  false, // don't show week numbers
      minTime: '08:00:00', // display from 16 to
      maxTime: '17:00:00', // 23 
      slotDuration: '00:15:00', // 15 minutes for each row
      allDaySlot: false, // don't show "all day" at the top
      timezone:'local', // https://stackoverflow.com/a/35863657/2351696
      selectable: true,
      select: function(start, end, allDay) {
        // Code for creating new events.
        let date = new Date(start);
        let weekday = moment(date);
        $('#weekDay').val(weekday.format("dddd")); // weekday.day());
        $('#startTime').val(weekday.format("HH:mm"));
        // clear fields
        $('#subjectSelect').val("");
        $('#teacherSelect').val("");
        $('#endTime').val("");
        $('#addPeriodModel').find('.errormsg').html('');

        $('#addPeriodModel').modal('show');
      },
      eventClick: function(calEvent, jsEvent, view) {
        if (confirm("Are you sure want to delete the period?")) {
          $.get("{% url 'classroom:deleteperiod' %}",{period: calEvent.id}).done(function(data) {
            $('#calendar').fullCalendar('removeEvents',calEvent._id);
          });
        }
      },
      events: [],
    });

    $('#calendar').fullCalendar( 'gotoDate', '2019-01-01');
  }

  loadCalendar();
  $('#classroomSelect').val("");
});

</script>
{% endblock %}