{% extends 'base.html' %}

{% load static %}
{% block extracss %}

{% endblock %}

{% block content %}
{% include 'exams/_header.html' with active='examreports' %}

<form>
  <div class="form-group row">
    <label class="col-md-2 col-form-label col-form-label-sm">Academic Year</label>
    <div class="col-md-2">
      <select class="form-control form-control-sm" name="academicyear" id="sel_academicyear" required>
          <option value="">Select Academic Year</option>
          {% for academicyear in academicyears %}
            <option value="{{ academicyear.pk }}"
            {% if academicyear.pk == rep_year %} selected{% endif %}>{{ academicyear.name }}</option>
          {% endfor %}          
      </select>
    </div>
    <label class="col-md-1 col-form-label col-form-label-sm">Exam</label>
    <div class="col-md-4">
      <select class="form-control form-control-sm" id="sel_exam" name="exam" required>
          <option value="">Select Exam</option>
      </select>
    </div>
    <div class="col-md-3" id="class_div"></div>
  </div>  
  <button type="submit" class="btn btn-sm btn-primary mb-3">Show Exam Report</button>
</form>
<hr>

{% if attendances %}
<div class="table-responsive">
<table class="table table-sm table-bordered">
  <tr><th>Student</th>{% for day in days %}<th style="font-size: 11px">{{ day }}</th>{% endfor %}</tr>
  {% for name, statuses in attendances.items %}
    <tr><td>{{ statuses|dict_key:'name' }}</td>{% for day in days %}<td style="font-size: 11px">{{ statuses|dict_key:day }}</td>{% endfor %}</tr>
  {% endfor %}
</table>  
</div>
{% endif %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
  {% if rep_exam %}
    createClassRoomSelect({{rep_exam}}); 
  {% endif %}

  {% if rep_year %}
    createExamSelect({{rep_year}}); 
  {% endif %}

  function createClassRoomSelect(exam){
    $.get("{% url 'exams:getajaxdata' %}",{exam}).done(function(data) {
      let sel = $('<select class="form-control form-control-sm" name="classroom" required>');
      sel.append($("<option>").attr('value',"").text("Select ClassRoom"));
      $(data.classes).each(function() {
       sel.append($("<option>").attr('value',this.id).text(this.classroom));
      });
      $("#class_div").html(sel);
      $('#class_div option[value="{{rep_classroom}}"]').prop('selected', true);
    });
  }

  function createExamSelect(ayear,flag='select_option'){
    $.get("{% url 'exams:getajaxexams' %}",{ayear}).done(function(data) {
      $("#sel_exam").empty();
      $("#sel_exam").append($("<option>").attr('value',"").text("Select Exam"));
      $.each(data.exams, function (i, item) {
        $('#sel_exam').append($('<option>', { 
            value: item.id,
            text : item.name 
        }));
      });
      if (flag==='select_option'){
        $('#sel_exam option[value="{{rep_exam}}"]').prop('selected', true);
      }      
    });
  }
  $("#sel_academicyear").change(function() {
    const ayear = $(this).find("option:selected").val();
    if(ayear) {
      createExamSelect(ayear,flag='dont_select_option');
      // $('#sel_exam option[value=""]').prop('selected', true);
    } else {
      $("#sel_exam").empty();
      $("#class_div").empty();
    }    
  });
    
  $("#sel_exam").change(function() {
    const exam = $(this).find("option:selected").val();
    createClassRoomSelect(exam);
  });
});

</script>
{% endblock %}